# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
.venv/
env/
venv/

# Django stuff
db.sqlite3
media/
staticfiles/
*.log

# Environment / secrets
.env
*.secret
*.key

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Sphinx build
docs/_build/

# Docker noise
*.pid