# Virtual env
.venv/
env/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Django stuff
db.sqlite3
media/
staticfiles/
*.log

# Environment / secrets
.env
*.secret
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Sphinx docs (if you have them)
docs/_build/

# Docker/compose noise
*.pid